body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.box {
    width: 30%;
    padding: 40px;
    background: orange;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,2);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
        margin-bottom: 20px;
    }
}